html
	head
		title #{name} - A team vs. team Nethack mod!
		link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/sticky-footer.css', rel='stylesheet')
		script(src='/jquery-1.12.1.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/utils.js')

		style.
			body {
				padding-top: 70px;
			}
		style
			block css
	body
		include nav.jade
		div(class='container')
			block content
		footer(class='footer')
			div(class='container')
				p(class='text-muted') Place some smart shit here lel kek
